@import url(https://db.onlinewebfonts.com/c/70f3e46b3bb904260d1b1a6e0f2edf08?family=HM+Sans+Regular);

@import url(https://db.onlinewebfonts.com/c/a6c51fe79a48b58d875458a674312b6c?family=Semi);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#footer {
    width: 100%;
    height: 558px;
    /* border: 1px solid black; */
    padding: 64px 32px;
    background-color: #e4e4e4;
}

.foot-parent {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 8%;
}

.foot-child-up {
    width: 100%;
    height: 233px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.foot-child-up>div {
    width: 220px;
}

.child-up-div-one>p {
    display: flex;
    align-items: flex-start;
    font-family: 'HM Sans Regular', 'HMSansHebrew-Regular', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.child-up-div-one>a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'HM Sans Regular', 'HMSansHebrew-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #222222;
    margin-bottom: 8px;
}

.child-up-div-two>p {
    display: flex;
    align-items: flex-start;
    font-family: 'HM Sans Regular', 'HMSansHebrew-Regular', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.child-up-div-two>a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'HM Sans Regular', 'HMSansHebrew-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #222222;
    margin-bottom: 8px;
}

.child-up-div-three>p {
    display: flex;
    align-items: flex-start;
    font-family: 'HM Sans Regular', 'HMSansHebrew-Regular', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.child-up-div-three>a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'HM Sans Regular', 'HMSansHebrew-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #222222;
    margin-bottom: 8px;
}

.child-up-div-four {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 1px solid green; */
    padding-bottom: 32px;
}

.child-up-div-four>p {
    text-align: left;
    font-family: 'HM Sans Regular', 'HMSansHebrew-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #222222;
    margin-bottom: 30px;
}

.child-up-div-four>a {
    text-align: left;
    font-family: 'HM Sans Regular', 'HMSansHebrew-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #222222;
    text-decoration: none;
}

.child-up-div-four>a>i {
    margin-left: 10px;
}

.foot-child-down {
    width: 100%;
    height: 200px;
    /* border: 1px solid black; */
}

.foot-child-down>div {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
}

.foot-child-down-1 {
    height: 48px;
    margin: 16px 0px 16px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-child-down-1>div {
    width: 48px;
    height: 48px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-child-down-1>div>i {
    width: 18px;
    height: 18px;
}

.foot-child-down-2 {
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'HM Sans Regular', 'HMSansHebrew-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #222222;
}

.foot-child-down-3 {
    height: 48px;
    margin: 32px 0px 4px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-child-down-3 img{
    width: 48px;
    height: 24px;
    display: flex;
    align-items: center;
}

.foot-child-down-4 {
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'HM Sans Regular', 'HMSansHebrew-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #222222;
}