@import url(https://db.onlinewebfonts.com/c/70f3e46b3bb904260d1b1a6e0f2edf08?family=HM+Sans+Regular);

@import url(https://db.onlinewebfonts.com/c/a6c51fe79a48b58d875458a674312b6c?family=Semi);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#footer {
    width: 100%;
    height: 558px;
    border: 1px solid black;
    background-color: aliceblue;
    padding: 64px 32px;
}

.foot-parent {
    width: 100%;
    height: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 138px;
}

.foot-child-up {
    width: 100%;
    height: 233px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.foot-child-up>div {
    width: 220px;
}

.child-up-div-one>p {
    display: flex;
    align-items: flex-start;
    font-family: "HM Sans Semi Bold", 'HMSansHebrew-SemiBold', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #222222;
}

.child-up-div-one>a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: red;
}

.child-up-div-two>p {
    display: flex;
    align-items: flex-start;
}

.child-up-div-two>a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: red;
}

.child-up-div-three>p {
    display: flex;
    align-items: flex-start;
}

.child-up-div-three>a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: red;
}

.child-up-div-four {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid green;
    padding-bottom: 32px;
}

.child-up-div-four>p {
    align-items: left;
}

.foot-child-down {
    width: 100%;
    height: 181px;
    border: 1px solid black;
}