* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    width: 95%;
    height: 164px;
    margin: auto;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

#navbar {
    width: 100%;
    height: 132px;
    margin: auto;
    /* border: 1px solid green; */
}

.navbar-up {
    width: 100%;
    height: 99px;
    /* border: 1px solid red; */
    display: flex;
    padding-bottom: 32px;
}

.nav-up-1,
.nav-up-2,
.nav-up-3 {
    display: flex;
    width: 33.3%;
    border: 1px solid blue;
}

.nav-up-1,
.nav-up-3 {
    align-items: center;
}

.nav-up-2 {
    align-items: end;
    justify-content: center;
}

.nav-up-2 img{
    width: 60px;
    height: 40px;
}


.nav-up-1 a {
    text-decoration: none;
    margin-right: 16px;
    font-family: 'HMSansHebrew-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #222222;
    font-size: 13px;
    line-height: 16px;
}

.nav-up-3 a {
    text-decoration: none;
    margin-left: 16px;
    font-family: 'HMSansHebrew-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #222222;
    font-size: 13px;
    line-height: 16px;
}

.nav-up-3 {
    justify-content: end;
}

.navbar-down {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid brown; */
}

.nav-down-1 {
    width: 79%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    border: 1px solid royalblue;
}

.nav-down-1 a {
    text-decoration: none;
    padding-left: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 16px;
    color: #222222;
}

.nav-down-2 {
    width: 18%;
    height: 100%;
    border: 1px solid royalblue;
}

.nav-down-2-input {
    width: 100%;
    height: 100%;
    border: 1px solid;
}

.nav-down-2-input input {
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

#footer {
    width: 100%;
    height: 558px;
    border: 1px solid black;
    background-color: aliceblue;
    padding: 64px 32px;
}

.foot-parent {
    width: 100%;
    height: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 138px;
}

.foot-child-up {
    width: 100%;
    height: 233px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.foot-child-up>div {
    width: 220px;
}

.child-up-div-one>p {
    display: flex;
    align-items: flex-start;
}

.child-up-div-one>a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: red;
}

.child-up-div-two>p {
    display: flex;
    align-items: flex-start;
}

.child-up-div-two>a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: red;
}

.child-up-div-three>p {
    display: flex;
    align-items: flex-start;
}

.child-up-div-three>a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: red;
}

.child-up-div-four {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid green;
    padding-bottom: 32px;
}

.child-up-div-four>p {
    align-items: left;
}

.foot-child-down {
    width: 100%;
    height: 181px;
    border: 1px solid black;
}



/* HM Sans Regular, 'HMSansHebrew-Regular','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','Osaka','メイリオ','Meiryo','MS Pゴシック','MS PGothic', */