* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro";
}

/* .screen {
    border: 2px solid green;
} */

.head-parent {
    width: 100%;
    height: 46px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    /* background-color: rgba(22, 22, 23); */
    background-color: rgba(22,22,23, 0.9);
    position: fixed;
    top: 0;
    z-index: 200;
}

.head-child {
    width: 82%;
    height: 44px;
    border: 1px solid blue;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: rgba(22,22,23, 0.9);
    z-index: 100;
}

.head-1 {
    width:8%;
    height: 100%;
}

.head-3, .head-4 {
    width: 6%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid darkorange;
    color: #ffffff;
}

.head-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.head-2 {
    width: 80%;
    height: 100%;
    border: 1px solid greenyellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-2>a {
    height: 100%;
    padding: 0px 8px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    border: 1px solid rgb(134, 32, 217);
    /* font-family: ; */
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #ababab;
    /* position: relative; */
}

.head-2-hover-contents{
    display: none;
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%;
    /* height: 300px; */
    color: black;
    background-color: #161617;
    border: 1px solid black;
    padding: 40px 22px 84px 22px;
}

.head-2>a:hover .head-2-hover-contents{
    display: block;
}

.hover-contents-child{
    width: 85%;
    /* height: 100%; */
    margin: auto;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.hover-contents-1, .hover-contents-2, .hover-contents-3{
    width:33%;
    height: 100%;
    border: 1px solid green;
}

.hover-contents-1 > h2, .hover-contents-2 > h2, .hover-contents-3 > h2{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #86868b;
}

.hover-contents-1 > a{
    display: flex;
    flex-direction: column;
    padding: 7px 0px;
    border: 1px solid black;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
}

.hover-contents-2 > a, .hover-contents-3 > a{
    display: flex;
    flex-direction: column;
    padding: 7px 0px;
    border: 1px solid black;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
}


.head-5 {
    display: none;
}