* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro";
}

.w-100 {
    width: 100%;
}

.h-580 {
    height: 580px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-img-css {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-screen {
    width: 100%;
    height: 100%;
    margin-top: 46px;
}

.offer-section {
    width: 100%;
    /* height: 44px; */
    background-color: #1d1d1f;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding: 12px 10px;
    text-align: center;
}

.offer-section>span {
    color: #f5f5f7;
}

.offer-section>a {
    color: #0658aa;
    margin-left: 4px;
}

.offer-section>i {
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    line-height: 13px;
    color: #0658aa;
    margin-left: 6px;
}

/* --------------------------------------------------------------------- */

.body-content-1 {
    background-image: url('https://www.apple.com/v/home/be/images/heroes/iphone-15-pro/hero_iphone15pro__i70z9oz3hj2i_large_2x.jpg');
    z-index: 1;
}

.bc-1-text {
    width: 100%;
    height: 139px;
    padding: 47px 0px 0px 0px;
    flex-direction: column;
    font-weight: 600;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    color: #f5f5f7;
}

.bc-1-text>h3 {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    color: #f5f5f7;
    margin-top: 6px;
}

.bc-1-two-cta {
    display: flex;
    align-items: center;
    gap: 35px;
}

.bc-1-two-cta>a {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    color: #2997ff;
    margin-top: 13px;
}

.bc-1-two-cta>a>i {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #2997ff;
}

/* --------------------------------------------------------------------- */

.body-content-2 {
    background-image: url('https://www.apple.com/v/home/be/images/heroes/iphone-15/hero_iphone15_announce__uuemlcwczn6u_large_2x.jpg');
    margin: 10px 0px;
    z-index: 2;
}

.bc-2-text {
    width: 100%;
    height: 139px;
    padding: 47px 0px 0px 0px;
    flex-direction: column;
    font-weight: 600;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    color: #1d1d1f;
}

.bc-2-text>h3 {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    color: #1d1d1f;
    margin-top: 6px;
}

.bc-2-two-cta {
    display: flex;
    align-items: center;
    gap: 35px;
}

.bc-2-two-cta>a {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    color: #2997ff;
    margin-top: 13px;
}

.bc-2-two-cta>a>i {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #2997ff;
}

/* --------------------------------------------------------------------- */

.body-content-3 {
    background-image: url('https://www.apple.com/in/home/heroes/apple-watch-series-9/images/hero_apple_watch_series_9_order__d0fi9mb84dci_large_2x.jpg');
    margin: 10px 0px;
    z-index: 3;
}

.bc-3-text {
    width: 100%;
    padding: 47px 0px 0px 0px;
    flex-direction: column;
}

.bc-3-text>h2 {
    width: 100%;
    height: 72px;
    text-align: center;
    margin-top: 9px;
}

.bc-3-text>h2>img {
    height: 100%;
}

.bc-3-text>h3 {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    color: #f5f5f7;
    margin-top: 14px;
}

.bc-3-two-cta {
    display: flex;
    align-items: center;
    gap: 35px;
}

.bc-3-two-cta>a {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    color: #2997ff;
    margin-top: 13px;
}

.bc-3-two-cta>a>i {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #2997ff;
}

/* ...................................................................... */

.body-content-4 {
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.body-content-4>div {
    border: 1px solid green;
    width: 49.5%;
    height: 580px;
}

/* ...................................................................... */

.bc-41 {
    background-image: url('https://www.apple.com/in/home/promos/ipad-pro/images/promo_ipadpro_refresh__evi9utuixwuq_large_2x.jpg');
}

.bc-4-text-1 {
    width: 100%;
    padding: 47px 0px 0px 0px;
    color: #f5f5f7;
    text-align: center;
    border: 1px solid red;
}

.bc-4-text-1>h3 {
    width: 100%;
    height: 37px;
    border: 1px solid red;
}

.bc-4-text-1>h3>img {
    height: 100%;
    margin-left: 4px;
}

.bc-4-two-cta-1 {
    margin-top: 12px;
    gap: 35px;
}

.bc-4-two-cta-1>a {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    color: #2997ff;
}

.bc-4-two-cta-1>a>i {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #2997ff;
}

/* ...................................................................... */

.bc-42 {
    background-image: url('https://www.apple.com/in/home/promos/apple-watch-ultra-2/images/promo_apple_watch_ultra2_order__dyxqj5ia98om_large_2x.jpg');
}

.bc-4-text-2 {
    width: 100%;
    height: 139px;
    padding: 47px 0px 0px 0px;
    flex-direction: column;
    font-weight: 600;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    color: #1d1d1f;
}

.bc-4-text-2>h2 {
    width: 100%;
    height: 52px;
    text-align: center;
    border: 1px solid red;
}

.bc-4-text-2>h2>img {
    height: 100%;
}


.bc-4-text-2>h3 {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    color: #1d1d1f;
    margin-top: 10px;
}

.bc-4-two-cta-2 {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 35px;
}

.bc-4-two-cta-2>a {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    color: #2997ff;
}

.bc-4-two-cta-2>a>i {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #2997ff;
}

/* ...................................................................... */

.bc-43 {
    background-image: url('https://www.apple.com/v/home/be/images/promos/macbook-air-15/promo_macbook_air_15_midnight__3zojl1nanrme_large_2x.jpg');
}

.bc-4-text-3 {
    width: 100%;
    height: 139px;
    padding: 47px 0px 0px 0px;
    flex-direction: column;
    font-weight: 600;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    color: #1d1d1f;
}

.bc-4-text-3>h2 {
    width: 100%;
    height: 52px;
    text-align: center;
    border: 1px solid red;
}

.bc-4-text-3>h2>img {
    height: 100%;
}


.bc-4-text-3>h3 {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    color: #1d1d1f;
    margin-top: 10px;
}

.bc-4-two-cta-3 {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 35px;
}

.bc-4-two-cta-3>a {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    color: #2997ff;
}

.bc-4-two-cta-3>a>i {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #2997ff;
}

/* ...................................................................... */

.bc-44 {
    background-image: url('https://www.apple.com/v/home/be/images/promos/airpods-pro/promo_airpods_pro_order__d8xv36p4uwae_large_2x.jpg');
}

.bc-4-text-4 {
    width: 100%;
    height: 139px;
    padding: 47px 0px 0px 0px;
    flex-direction: column;
    font-weight: 600;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    color: #f5f5f7;
}

.bc-4-text-4>h2 {
    width: 100%;
    height: 52px;
    text-align: center;
    border: 1px solid red;
}

.bc-4-text-4>h3 {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    margin-top: 10px;
}

.bc-4-two-cta-4 {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 35px;
}

.bc-4-two-cta-4>a {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    color: #2997ff;
}

.bc-4-two-cta-4>a>i {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #2997ff;
}

/* ...................................................................... */

.bc-45 {
    background-image: url('https://www.apple.com/v/home/be/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_large_2x.jpg');
}

.bc-4-text-5 {
    width: 100%;
    padding: 47px 0px 0px 0px;
    color: #1d1d1f;
    text-align: center;
    border: 1px solid red;
}

.bc-4-text-5>h2 {
    width: 100%;
    height: 52px;
    text-align: center;
    border: 1px solid red;
}

.bc-4-text-5>h2>img {
    height: 100%;
}

.bc-4-text-5>h3 {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    margin-top: 10px;
}

.bc-4-two-cta-5 {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bc-4-two-cta-5>a {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    color: #2997ff;
}

.bc-4-two-cta-5>a>i {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #2997ff;
}

/* ...................................................................... */

.bc-46 {
    background-image: url('https://www.apple.com/v/home/be/images/promos/homepod-mini/tile_homepod_mini__b73w4z3ljymu_large_2x.jpg');
}

.bc-4-text-6 {
    width: 100%;
    height: 139px;
    padding: 47px 0px 0px 0px;
    flex-direction: column;
    font-weight: 600;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    color: #1d1d1f;
    border: 1px solid red;
}

.bc-4-text-6>h2 {
    width: 100%;
    height: 52px;
    text-align: center;
    border: 1px solid red;
}

.bc-4-two-cta-6 {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    border: 1px solid red;
}

.bc-4-two-cta-6>a {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    color: #2997ff;
}

.bc-4-two-cta-6>a>i {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #2997ff;
}