* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shopiphone-screen {
    width: 100%;
    margin-top: 46px;
    /* border: 2px solid red; */
    background-color: #f5f5f7;
}

.sis-bc-1 {
    width: 100%;
    /* margin: 0px 74px; */
    padding: 80px 74px 64px 74px;
}

.sis-bc-1>h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 52px;
    color: #1d1d1f;
}

.sis-bc-1-2 {
    width: 88%;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
}

.sis-bc-1-2-child {
    width: 100%;
    /* flex: 0 0 calc(68.33% - 20px); */
    height: 31px;
    display: flex;
    /* border: 3px solid yellow; */
    overflow-x: scroll;
}

.sis-bc-1-2-child::-webkit-scrollbar {
    display: none;
}

.sis-bc-1-2-child>a {
    flex: 0 0 18.33%;
    /* - 30px */
    margin: 5px 30px 5px 5px;
    color: black;
}

.sis-bc-2 {
    width: 90%;
    margin: auto;
    /* border: 2px solid black; */
}

.sis-bc-2-allproducts {
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;
    /* flex-wrap: nowrap; */
    overflow-x: scroll;
    padding: 20px;
    gap: 20px;
}


.sis-bc-2-allproducts::-webkit-scrollbar {
    display: none;
}

.sis-bc-2-single-products {
    height: 500px;
    flex: 0 0 calc(38.33% - 20px);
    /* border: 1px solid red; */
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sis-bc-2-single-products>h4 {
    width: 100%;
    height: 97px;
    padding: 30px 30px 16px 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: #1d1d1f;
    /* border: 1px solid red; */
}

.sis-bc-2-single-products>img {
    width: 80%;
    height: 300px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 20px 0px;
}

.sis-bc-2-single-products-descrp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px 30px 0px 30px;
    /* border: 1px solid green; */
}

.sis-bc-2-single-products-descrp>p {
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: #1d1d1f;
}

.sis-bc-2-single-products-descrp>button {
    font-size: 17px;
    line-height: 20px;
    padding: 7px 15px;
}

.product-popup-parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    /* Transparent white background */
    backdrop-filter: blur(2px);
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-popup-parent::-webkit-scrollbar{
    display: none;
}

.product-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 78%;
    height: 100%;
    color: black;
    border-radius: 6px;
    border: 2px solid red;
    background-color: white;
    overflow-y: auto;
    margin-top: 40px;
}

.product-popup::-webkit-scrollbar{
    display: none;
}

.popup-close{
    width: 100%;
    height: 32px;
    border: 1px solid black;
    /* background: #000; */
    margin: 40px 0px;
}

.popup-close>button{
    width: 36px;
    border-radius: 50%;
    border: 1px solid;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: gray;
    font-weight: 600;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
}

.popup-phone-selector{
    width: 65%;
    height: 48px;
    margin-bottom: 30px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup-phone-selector>p{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 12px 10px;
    border-radius: 24px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    font-style: normal;
    border: 2px solid red;
}

.popup-product-details{
    width: 100%;
    /* height: 710px; */
    /* margin-top: 26px; */
    border: 2px solid red;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.popup-product-details-phone{
    width: 100%;
    /* height: 80%; */
    display: flex;
    align-items: center;
    border: 1px solid red;
}

.popup-product-details-phone-left{
    width: 50%;
    /* height: 100%; */
    padding: 50px 40px 0px 50px;
    margin-top: 37px;
    border: 1px solid greenyellow;
}

.phone-left-btn{
    width: 100%;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 16px;
}

.phone-left-btn>button{
    height: 36px;
    padding: 8px 24px;
    margin: 4px 3px;
    border-radius: 24px;
}

.phone-left-image{
    width: 100%;
    height: 40%;
}

.phone-left-image>img{
    width: 100%;
    height: 100%;
}

.popup-product-details-phone-right{
    width: 50%;
    /* height: 100%; */
    padding-right: 50px;
    margin-top: 37px;
    border: 1px solid greenyellow;
}

.right-content-description{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-features{
    width: 100%;
    display: flex;
    padding: 20px 0px;
}

.single-features>p:nth-child(1){
    padding-right: 18px;
}

.popup-product-details-phone-offercard{
    width: 100%;
    /* height: 20%; */
    border: 1px solid red;
}

