*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

/* .head-parent-store{
    background-color: white;
} */

.screen-store{
    width: 100%;
    height: 100%;
    margin-top: 46px;
    border: 1px solid red;
}

.offer-section-store{
    width: 100%;
    text-align: center;
}

.offer-section-store> :nth-child(n){
    border: 1px solid red;
}

