* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    width: 70%;
    height: 400px;
    margin: auto;
    /* border: 2px solid green; */
    display: flex;
}

.child {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid blue;
    overflow-y: scroll;
    padding: 10px;
}

.child > div {
    height: 70%;
    border: 2px solid red;
    flex: 0 0 calc(50% - 10px);
    /* Distribute items evenly in two columns  */
    max-width: calc(50% - 10px);
    margin-bottom: 10px;
}