.ON{
    color: black;
    background-color: yellow;
    border-radius: 50%;
    border: 2px solid;
    width: 100px;
    height: 120px;
}

.OFF{
    color: black;
    background-color: white;
    border-radius: 50%;
    border: 2px solid;
    width: 100px;
    height: 120px;
}